<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot Application</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.js" defer></script>
    <script src="js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>    
    <div layout:fragment="content"></div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>